@using Microsoft.AspNetCore.Mvc.TagHelpers
@model NewsStore.API.ViewModels.TidingsListingModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="templatemo">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

    <title>Новости</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/css/templatemo-liberty-market.css">
    <link rel="stylesheet" href="~/assets/css/owl.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
</head>
<body>
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    @if (Model != null && Model.IsAdmin)
    {
        <header class="header-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <a href="/Home/MainBase" class="logo"><img src="~/assets/images/logo.png" alt=""></a>
                            <ul class="nav">
                                <li><a href="/Home/MainBase">Главная</a></li>
                                <li><a href="/News/News" class="active">Новости</a></li>
                                <li><a href="/Home/History">История</a></li>
                                <li><a href="/News/CreateNews">Добавить новость</a></li>
                                <li><a href="/Users/Cabinet">Личный кабинет</a>
                                <li><a href="/Home/Logout">Выйти</a></li>
                            </ul>
                            <a class='menu-trigger'>
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    }
    else @if (Model.User != null)
    {
        <header class="header-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <a href="/Home/MainBase" class="logo"><img src="~/assets/images/logo.png" alt=""></a>
                            <ul class="nav">
                                <li><a href="/Home/MainBase">Главная</a></li>
                                <li><a href="/News/News" class="active">Новости</a></li>
                                <li><a href="/Home/History">История</a></li>
                                <li><a href="/Users/Cabinet">Личный кабинет</a></li>
                                <li><a href="/Home/Logout">Выйти</a></li>
                            </ul>
                            <a class='menu-trigger'>
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    }
    else
    {
        <header class="header-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <a href="/Home/MainBase" class="logo"><img src="~/assets/images/logo.png" alt=""></a>
                            <ul class="nav">
                                <li><a href="/Home/MainBase" s>Главная</a></li>
                                <li><a href="/News/News" class="active">Новости</a></li>
                                <li><a href="/Home/History">История</a></li>
                                <li><a href="/Home/Logout">Выйти</a></li>
                            </ul>
                            <a class='menu-trigger'>
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    }
    <div class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>УЗНАЙТЕ ДЛЯ СЕБЯ ЧТО-ТО НОВОЕ</h2>
                    <span>Главная > <a href="#">Новости</a></span>
                </div>
            </div>
        </div>
        <div class="featured-explore">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="owl-features owl-carousel">
                            @if (Model != null && Model.News != null && Model.News.Any())
                                @foreach (var item in Model.News)
                                {
                                    <div class="item">
                                        <div class="thumb">
                                            <img src="~/Uploads/@item.Picture" style="border-radius: 20px;">
                                        </div>
                                    </div>
                                }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="discover-items">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <div class="line-dec"></div>
                        <h2>
                            Узнайте <em>Новости </em>
                        </h2>
                    </div>
                </div>
                @if (Model != null && Model.News != null && Model.News.Any())
                    @foreach (var item in Model.News)
                    {
                        <div class="col-lg-6">
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <img src="~/Uploads/@item.Picture" style="border-radius: 20px;">
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="line-dec"></div>
                                        <div class="row">
                                            <div class="col-6">
                                                <span><strong>@item.Name</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="main-button">
                                            <button data-href="@Url.Action("DetailNews", "News", new { Id = item.Id })" type="button" class="data-btn btn btn-primary" style="text-align: center" data-toggle="modal" data-target="#exampleModalLong"><i class="fas fa-edit mr-1"></i>Детально</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        © 2024 <a href="#"></a> Физико-технический институт - ПГУ им. Т.Г. Шевченко |  3300, г. Тирасполь, ПГУ, ул. Восстания, 2а |  (+373)533-74342 |  itidir@spsu.ru
                        Разработано <a title="HTML CSS Templates" rel="sponsored" href="http://fti.spsu.ru/" target="_blank">ФТИ</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/assets/js/isotope.min.js"></script>
    <script src="~/assets/js/owl-carousel.js"></script>

    <script src="~/assets/js/tabs.js"></script>
    <script src="~/assets/js/popup.js"></script>
    <script src="~/assets/js/custom.js"></script>

    <script>
        $(".data-btn").on('click', function (event) {
            event.preventDefault();
            $.ajax({
                url: $(this).attr("data-href")
            }).done(function (response) {
                $("#exampleModalLong .modal-content").html(response).modal();
            });
        });
    </script>
</body>
</html>
