@using System.Security.Claims
@model ClaimsPrincipal
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="author" content="templatemo">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>История</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/css/templatemo-liberty-market.css">
    <link rel="stylesheet" href="~/assets/css/owl.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
</head>

<body>
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    @if (Model != null && Model.IsInRole("admin"))
    {
        <header class="header-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <a href="/Home/MainBase" class="logo"><img src="~/assets/images/logo.png" alt=""></a>
                            <ul class="nav">
                                <li><a href="/Home/MainBase">Главная</a></li>
                                <li><a href="/News/News">Новости</a></li>
                                <li><a href="/Home/History" class="active">История</a></li>
                                <li><a href="/News/CreateNews">Добавить новость</a></li>
                                <li><a href="/Users/Cabinet">Личный кабинет</a>
                                <li><a href="/Home/Logout">Выйти</a></li>
                            </ul>
                            <a class='menu-trigger'>
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    }
    else @if (Model.Identity.IsAuthenticated)
    {
        <header class="header-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <a href="/Home/MainBase" class="logo"><img src="~/assets/images/logo.png" alt=""></a>
                            <ul class="nav">
                                <li><a href="/Home/MainBase">Главная</a></li>
                                <li><a href="/News/News">Новости</a></li>
                                <li><a href="/Home/History" class="active">История</a></li>
                                <li><a href="/Users/Cabinet">Личный кабинет</a></li>
                                <li><a href="/Home/Logout">Выйти</a></li>
                            </ul>
                            <a class='menu-trigger'>
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    }
    else
    {
        <header class="header-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <a href="/Home/MainBase" class="logo"><img src="~/assets/images/logo.png" alt=""></a>
                            <ul class="nav">
                                <li><a href="/Home/MainBase" s>Главная</a></li>
                                <li><a href="/News/News">Новости</a></li>
                                <li><a href="/Home/History" class="active">История</a></li>
                                <li><a href="/Home/Logout">Выйти</a></li>
                            </ul>
                            <a class='menu-trigger'>
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    }
    <!-- ***** Header Area End ***** -->
    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="header-text">
                        <h6>ФТИ Инфо</h6>
                        <h2>Смотри узнавай Обучайся</h2>
                        <p></p>
                        @*                         <div class="buttons">
                        <div class="border-button">
                        <a href="explore.html">Explore Top NFTs</a>
                        </div>
                        <div class="main-button">
                        <a href="https://youtube.com/templatemo" target="_blank">Watch Our Videos</a>
                        </div>
                        </div> *@
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="owl-banner owl-carousel">
                        <div class="item">
                            <img src="~/assets/images/banner-01.png" alt="">
                        </div>
                        <div class="item">
                            <img src="~/assets/images/banner-02.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="categories-collections">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="categories">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-heading">
                                    <div class="line-dec"></div>
                                    <h2>Просмотрите наши <em>Разделы</em> Здесь.</h2>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="item">
                                    <div class="icon">
                                        <img src="~/assets/images/icon-01.png" alt="">
                                    </div>
                                    <h4>Новости</h4>
                                    <div class="icon-button">
                                        <a href="/News/News"><i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="item">
                                    <div class="icon">
                                        <img src="~/assets/images/icon-02.png" alt="">
                                    </div>
                                    <h4>История</h4>
                                    <div class="icon-button">
                                        <a href="/Home/History"><i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="item">
                                    <div class="icon">
                                        <img src="~/assets/images/icon-04.png" alt="">
                                    </div>
                                    <h4>Деятели</h4>
                                    <div class="icon-button">
                                        <a href="/Home/Figures"><i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="item">
                                    <div class="icon">
                                        <img src="~/assets/images/icon-04.png" alt="">
                                    </div>
                                    <h4>Оборудование</h4>
                                    <div class="icon-button">
                                        <a href="/Home/Equipment"><i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="create-nft">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-heading">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="item">
                        <div class="icon">
                            <img src="~/assets/images/icon-06.png" alt="">
                        </div>
                        <h4>История</h4>
                        <p>
                            Физико-технический институт берет свое начало от физико-технического факультета, основанного в декабре 1990 года, который включал в себя пять кафедр:<br />
                            1. Кафедра общей физики: Занималась фундаментальной подготовкой студентов по основным разделам физики, таким как механика, термодинамика, электродинамика и квантовая физика.<br />
                            2. Кафедра теоретической физики: Фокусировалась на углубленном изучении теоретических аспектов физики, включая квантовую механику, теорию относительности и статистическую физику.<br />
                            3. Кафедра экспериментальной физики: Обеспечивала студентов практическими навыками и знаниями в области проведения физических экспериментов и лабораторных исследований.<br />
                            4. Кафедра технической физики: Специализировалась на прикладных аспектах физики, таких как материаловедение, физика твердого тела и инженерные технологии.<br />
                            5. Кафедра математической физики: Сосредоточилась на математических методах в физике, включая математическое моделирование физических процессов и применение вычислительных методов.<br />
                            Эти кафедры обеспечивали всестороннюю подготовку студентов, охватывая как фундаментальные теоретические знания, так и практические навыки в области физики и технических наук.<br />

                            В апреле 1997 года произошло объединение Технического колледжа им. Ю.А. Гагарина и физико-технического факультета.<br />

                            В 2006 году физико-технический факультет получил статус института и стал называться инженерно-техническим институтом.<br />

                            Инженерно-техническому институту, одному из первых в нашей республике, было предоставлено право реализации многоуровневой структуры высшего образования и непрерывной подготовки специалистов.<br />

                            Обучение студентов в рамках выбранного направления подготовки обеспечило возможность получить при желании образование по схеме: техник - бакалавр - специалист - магистр с возможностью последующего перехода с одного уровня на другой и последовательной выдачей диплома соответствующего уровня подготовки.<br />

                            В июле 2023 года инженерно-технический институт был переименован в физико-технический институт – ФТИ. В его состав был включен физико-математический факультет ПГУ им. Т.Г. Шевченко. Десятилетия существования этих структур обеспечили преемственность высокого качества образования ФТИ, наличие добрых традиций и сформированный эффективней преподавательский корпус.<br />

                            Сегодня физико-технический институт является обеспечивает развитие инженерного образования в республике.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        © 2024 <a href="#"></a> Физико-технический институт - ПГУ им. Т.Г. Шевченко |  3300, г. Тирасполь, ПГУ, ул. Восстания, 2а |  (+373)533-74342 |  itidir@spsu.ru
                        Разработано <a title="HTML CSS Templates" rel="sponsored" href="http://fti.spsu.ru/" target="_blank">ФТИ</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/assets/js/isotope.min.js"></script>
    <script src="~/assets/js/owl-carousel.js"></script>

    <script src="~/assets/js/tabs.js"></script>
    <script src="~/assets/js/popup.js"></script>
    <script src="~/assets/js/custom.js"></script>

</body>
</html>